*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: Open sans;
   font-weight: 400;
   background-color: #fff;
}
.container {
    display: flex;
    justify-content: space-around;
}
#regForm {
    top: -6.3em;
    background-color: hotpink;
    margin: 100px auto;
    font-family: raleway;
    padding: 40px;
    width: 39%;
    min-width: 300px;
    position: relative;
    height: 46.5rem;
    z-index: 0;
    left: 5em;
    color: white;
}
h1{
    text-align: center;
    text-decoration: underline;
}
input {
    padding: 12px;
    width: 14em;
    font-size: 25px;
    font-family: raleway;
    border: 1px solid #aaaaaa;
    margin-top: 2em;
}
input.invalid {
    background-color: #ffdddd;
}
.tab{
    display: none;
    margin-top: 3em;
    font-size: 2rem;
}
button{
    background-color: blue;
    color: #ffffff;
    border: none;
    font-size: 17px;
    font-family: raleway;
    cursor: pointer;
    margin-top: 2em;
    width: 7em;
    padding-top: 7px;
    padding-bottom: 7px;
}
button:hover{
    opacity: 0.8;
   
}
#prevBtn{
    background-color: #bbbbbb;
}
#prevBtn:hover{
    opacity: 0.8;
   
}
.step{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.step.active{
    opacity: 1;
}
.step.finish{
    background-color: #4caf50;
}
img.image-john {
    width: 220%;
    height: 46.3rem;
}
img.image-tanya{
    width: 220%;
    height: 46.3rem;
}
.slideshow-container{
    position: relative;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes  fade {
    from {opacity: .4;}
    to{opacity: 1;}
}
@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}
.dot{
    height: 15px;
    width: 15px;
    background-color: hotpink;
    border-radius: 50%;
    display: flex;
    transition: background-color 0.2s ease;
    margin-top: 22.3em;
    margin-left: 27em;

}
.active{
    background-color: hotpink;
}
.header__list {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-top: -0.9em;
}
.header{
    position: relative;
    z-index: 1;
    height: 5rem;
    display: flex;
    justify-content: space-around;

}
p.list {
    font-size: 1.5em;
}
     
.header__link {
   margin: 1em;
   color: black; 
}
.header__icon {
    color: #1249be;
    font-size: 30px;
    cursor: pointer;
    float: right;
    margin-top: 0px;
    display: none; 
}
.header__left {
  display: none; 
}  

.container-text {
    margin-bottom: 1em;
    background-color: hotpink;
    text-align: center;
    margin-top: -12.7em;
    width: 77em;
    height: 6em;
    margin-left: -5em;
}
.container-about {
    display: flex;
    justify-content: space-around;
    font-size: 1em
}
h2.about {
    font-size: 2.3em;
    color: white;
    
}
.social-media {
    background-color: cornflowerblue;
    height: 36em;
    width: 46.3em;
    margin-top: -12.6em;
    margin-left: -0.9em;
}
h2.media-text {
    font-size: 2.4em;
    text-align: center;
    color: white;
}
h2.what {
    font-size: 1.9em;
    margin-bottom: 1em;
}
p.message {
    margin-bottom: 5em;
   
}
h4.facebook {
    line-height: 4em;
    font-size: 1.5em;
    color: white;
    margin-left: 3em;
}
img.face {
    position: relative;
    top: 4em;
}
.book{
    position: relative;
    top: 4em;
}
.tube{
    position: relative;
    top: 4em;
}
.you{
    position: relative;
    top: 4em;
}
.blog {
    text-align: center;
    font-size: 1.9em;
}
.text-area{
    border: 2px solid hotpink;
    height: 15em;
    margin-top: -1.9em;
}